.member-container {
  padding-left: 3.9vw;
  color: #f0f0f0;
}

.tool-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.tool-card-title {
  font-weight: bold;
}

.blur-box {
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 30px 30px 0px 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
  color: #f0f0f0;
}

.p-info {
  font-size: 20px;
}
