/* outputer container of flip card component */
.flip-card-outer {
  width: 400px;
  height: 500px;
  margin: 25px 15px;
  cursor: pointer;
}

/* inner container facilitating flip animation */
.flip-card-outer .flip-card-inner {
  transform-style: preserve-3d;
  transition: .5s linear .1s;
  position: relative;
  width: inherit;
  height: inherit;
}

/* hover trigger transition */
.flip-card-outer .flip-card-inner.hover-trigger:hover {
  transform: rotateY(180deg);
}

/* flip transition */
.flip-card-outer .flip-card-inner.showBack {
  transform: rotateY(180deg);
}

/* elements applying to the entire card */
.flip-card-outer .flip-card-inner .card {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* styles front */
.flip-card-outer .flip-card-inner .card.front {
  transform: rotateY(0);
  /* background-color: #2d2d2d; */
  color: #f0f0f0;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* styles back */
.flip-card-outer .flip-card-inner .card.back {
  transform: rotateY(180deg);
  /* background-color: #2d2d2d; */
  color: #f0f0f0;
  font-size: 24px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.card-text-artist {
  font-size: 24px;
}

.card-text-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.img-box-artist {
  height: 400px;
  width: 400px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.card-img-top-artist {
  height: auto;
  width: 99.5%;
}

.highlight {
  background-color: #5337af;
  color: white;
}

.card-text-info img {
  display: block;
  margin: 0 auto; 

  margin-bottom: 20px;
}

.card-text-artist img{
  display: block;
  margin: 0 auto;
  
  margin-bottom: 20px;
}

.card-body {
  position: relative;
}

.spotify-logo-container {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
}

.spotify-logo-container-75 {
  position: absolute;
  bottom: 20px; 
  left: 75%;
  transform: translateX(-50%); 
  text-align: center;
}

.div-right {
  margin-bottom: 30px;
}
