.btn {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background-clip: padding-box; 
}

.learn:hover {
    font-weight: 900;
}

.btn a {
    color: white;
    text-decoration: none;
}
