.navbar-brand img {
    margin-bottom: 5px;
    margin-right: 5px;
}

.custom-navbar {
    background-color: #2d2d2d;
  }
  
.navbar {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 7;
}
  
.navbar li {
    position: relative;
    font-size: 18px;
    color: rgb(77, 43, 213);
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    width: 80px;
    text-align: center;
}
  
.navbar li::before {
    content: '';
    position: absolute;
    top: 85%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(77, 43, 213);
    transition: .4s;
}
  
.navbar li:hover::before {
    width: 100%;
}
  
.navbar-nav {
    align-items: center;
    align-content: center;
}

.navbar-border {
    line-height: 10px;
    height: 10px;
    color: rgb(77, 43, 213);
    background-color: rgb(77, 43, 213);
    background: rgb(77, 43, 213);
    width: 100%;
  }
  
br {
    line-height: 10px;
    height: 10px;
    color: rgb(77, 43, 213);
    background-color: rgb(77, 43, 213);
    background: rgb(77, 43, 213);
    width: 100%;
}

 .navbar-nav .nav-item .nav-link:hover {
    color: #f0f0f0;
}
  