.container-one-thing {
    display: grid;
    gap: 10px;
    width: 85vw;
    max-width: 1200px;
    /* background-color: #2d2d2d; */
    border-radius: 5px;
    margin: 90px auto;
    color: #f0f0f0;
    padding: 20px;
    align-items: start;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container-genre-thing {
    display: grid;
    gap: 10px;
    width: 85vw;
    max-width: 1200px;
    /* background-color: #2d2d2d; */
    border-radius: 5px;
    margin: 90px auto;
    color: #f0f0f0;
    padding: 20px;
    align-items: start;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* For wider screens */
@media (min-width: 768px) {
    .container-one-thing {
        grid-template-columns: 1fr 1fr;
    }
}

/* For narrower screens */
@media (max-width: 767px) {
    .container-one-thing {
        grid-template-columns: 1fr;
    }

    .div-right {
        margin-top: 20px; /* Optional: add some space between div-left and div-right */
    }
}

.div-left {
    display: flex;
    flex-direction: column;
}

.div-left img {
    width: 100%;
    height: auto;
}

.div-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f0f0f0;
    font-weight: 500;
    margin-left: 10px;
}

h1 {
    text-align: center;
}

.youtube {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: black;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}