.pagination-color {
  /* background-color: rgba( 255, 255, 255, 0.25 ) !important;
  border-color: rgba( 255, 255, 255, 0.25 ) !important; */
  color: #f0f0f0 !important;
  cursor: pointer;
  
  background: rgba( 255, 255, 255, 0.25 ) !important;
  border-color: rgba( 255, 255, 255, 0.25 ) !important; 
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.pagination-active {
  background-color: rgb(77, 43, 213) !important;
  border-color: rgb(77, 43, 213) !important;
  font-weight: bold !important;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
}
