
:root {
  --glass-bg-color: rgba(255, 255, 255, 0.2);
  --glass-border-color: rgba(255, 255, 255, 0.3);
  --glass-backdrop-filter: blur(10px);
  --glass-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --glass-hover-bg-color: rgba(255, 255, 255, 0.3);
}

#sort-btn:hover{
  color:white;
}

#sort-btn{
  color:white;
  text-decoration: none;
  margin-left: 10px;
  box-shadow: var(--glass-box-shadow);
  background:  rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 5;
}

[data-bs-theme="glass"] .dropdown-item {
  color: white;
  z-index: 10;
}

[data-bs-theme="glass"] .dropdown-item:hover {
  background: var(--glass-hover-bg-color);
  color:white;
} 


.dropdown-button:hover {
  background: var(--glass-hover-bg-color);
} 

/* .dropdown-item {
  color: white;
  z-index:10;
}

.dropdown-item:hover {
  background: var(--glass-hover-bg-color);
} */

[data-bs-theme="glass"] .dropdown-menu {
  background: #2d2d2d;
  border-radius: 10px;
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid var(--glass-border-color);
  box-shadow: var(--glass-box-shadow);
  margin-bottom: 10px;
  z-index: 5; 
}