:root {
  --glass-bg-color: rgba(255, 255, 255, 0.2);
  --glass-border-color: rgba(255, 255, 255, 0.3);
  --glass-backdrop-filter: blur(10px);
  --glass-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --glass-hover-bg-color: rgba(255, 255, 255, 0.3);
}

.glass-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.glass-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--glass-bg-color);
  border-radius: 10px;
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: 1px solid var(--glass-border-color);
  box-shadow: var(--glass-box-shadow);
  padding: 4px; 
  width: 100%;
  max-width: 600px; 
}

.glass-search-input::placeholder {
  color: white;
  opacity: 0.5;
}

.glass-search-input {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  padding: 4px; 
  outline: none;
  font-size: 0.9rem; /* smaller font size */
}

.glass-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--glass-bg-color);
  border: none;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 31px; 
  height: 31px;
}

.glass-search-button:hover {
  background: var(--glass-hover-bg-color);
  transform: scale(1.05);
}

.glass-search-button:focus {
  outline: none;
}