.container {
  padding: 20px;
}

.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.message-content {
  text-align: center;
  color: #fff;
}

.message-text {
  font-size: 48px;
  font-weight: bold;
}

.search-row {
  display: flex !important;
  justify-content: center !important; /* Center horizontally */
  align-items: center !important;
  margin-bottom: 10px !important; /* Reduced margin */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sort-filter-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  margin-bottom: 10px !important;
}  

@media (max-width: 768px) {
  .sort-filter-container {
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }
}
  
/* custom.css */

@media (min-width: 0px) {
    .col-custom-sm {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

@media (min-width: 1000px) {
    .col-custom-md {
      flex: 0 0 50%;
      max-width: 50%;
    }
}
  
@media (min-width: 1400px) {
    .col-custom-lg {
        flex: 0 0 33.333% !important;
        max-width: 33.333% !important;
    }
}