@keyframes background_anim{
    0% {top:0px}
    15% {top:-20px}
    30% {top:-40px}
    45% {top:-60px}
    60% {top:-80px}
    75% {top:-100px}
    90% {top:-120px}
    100% {top:-130px}
}

.containerSplash{
    height: 120vh;
    overflow: hidden;
    position: relative;
}

.backgroundSplash{
    opacity:0.3;
    position:absolute;
    left:0;
    width:100%;
    height:160vh;
    animation-name: background_anim;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    overflow: clip;
}

.center {
    position: relative;
    text-align: center;
}s

#Welcome {font-family: "Times New Roman"; font-size: 4vw; font-weight: bold; color: white;}
#HitHubIntro {font-family: "Times New Roman"; font-size: 18vw; font-weight:bold; -webkit-text-fill-color: transparent; -webkit-background-clip: text; margin-top: 120px; background-image: url(https://i.ibb.co/CQpzQ6Z/Album-Collage-Song.png);}
#Explore {font-family: "Times New Roman"; font-size: 2.5vw; font-weight: bold; color: white; margin-top: -40px;}
